.top-container {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: fixed;
}
.mid-container {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  left: 200px;
}
.bottom-container {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 400px;
  left: 400px;
}
.bottom-container {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 600px;
  left: 600px;
}
